[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

djzen = "*"
django-cors-headers = "*"
djangorestframework = "*"
aws = "*"
awsiotpythonsdk = "*"


[dev-packages]

